[Unit]
Description=Odoo Open Source ERP and CRM
After=network.target

[Service]
Type=simple
User={{ project.odoo.server_user }}
Group={{ project.odoo.server_user }}
ExecStart={{ project.server.scriptPath }} --config {{ project.odoo.configfile }}
KillMode=mixed
{% if !config.odoo.system_ca_bundle_path.isNull %}
Environment="REQUESTS_CA_BUNDLE={{ config.odoo.system_ca_bundle_path.get }}"
{% endif %}

[Install]
WantedBy=multi-user.target

